.one {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.two {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.three {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.four {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}


/* .oneBtn {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.oneBtn {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.oneBtn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.twoBtn {
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.twoBtn {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.twoBtn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.threeBtn {
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.threeBtn {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.threeBtn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.fourBtn {
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.fourBtn {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.fourBtn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
} */